
<br />
<br />
<%= form_tag search_people_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by name, phone, or date of birth" %>
  <%= submit_tag "Search" %>
<% end %>

<% if @search_results.present? %>
  <h2>Search Results:</h2>
    <hr />
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Birthday</th>
        </tr>
      </thead>
      <tbody>
        <% @search_results.each do |person| %>
          <tr>
            <td><%= person.name %></td>
            <td><%= person.phone %></td>
            <td><%= person.birthday %></td>
            <td><%= link_to "Show this person", person %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
